<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    <h1>register employee</h1>
    <form method="POST" role="form" th:action="@{/authentication/registration/save}" th:object="${user}">
        <div>
            <label>Login</label>
            <label>
                <input type="text" th:field="*{login}"/>
            </label>
        </div>
        <div>
            <label>Password</label>
            <label>
                <input type="password" th:field="*{password}"/>
            </label>
        </div>
        <div>
            <label>Name</label>
            <label>
                <input type="text" th:field="*{name}"/>
            </label>
        </div>
        <div>
            <label>Surname</label>
            <label>
                <input type="text" th:field="*{surname}"/>
            </label>
        </div>
        <div>
            <label>Age</label>
            <label>
                <input type="number" th:field="*{age}"/>
            </label>
        </div>
        <div>
            <label>Resume</label>
            <label>
                <input type="text" th:field="*{resume}"/>
            </label>
        </div>
        <button type="submit">register</button>
    </form>
</body>
</html>
