<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>register employee</h1>
    <form method="POST" role="form" th:action="@{/authentication/login}">
        <div>
            <label>Login</label>
            <label>
                <input type="text" id="username" name="username"/>
            </label>
        </div>
        <div>
            <label>Password</label>
            <label>
                <input type="password" id="password" name="password"/>
            </label>
        </div>
        <button type="submit">login</button>
    </form>
</body>
</html>
