<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
    <title>Footer</title>
</head>
<body>
    <footer class="bd-footer py-3 mt-5 bg-light" th:fragment="footer">
        <div class="container py-3">
            <div class="row">
                <div class="col-lg-5 mb-3">
                    <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/freelance">
                        <span class="fs-5">Freelance Exchange</span>
                    </a>
                    <ul class="list-unstyled small text-muted">
                        <li class="mb-2">Created by <a href="https://t.me/snakemanysss">Chechetkin Alexander</a> and <a href="https://t.me/desertSmoke42">Davydenko Grigorii</a></li>
                        <li class="mb-2">Currently v1.0-SNAPSHOT.</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous">
    </script>

</body>
</html>
